
AR Project Demo/Assets/add-vuforia-package-10-6-3.unitypackage
AR Project Demo/Assets/add-vuforia-package-10-6-3.unitypackage.meta
AR Project Demo/Packages/com.ptc.vuforia.engine-10.6.3.tgz
AR Project Demo/Packages/com.ptc.vuforia.engine-10.5.5.tgz
